<header class="ui inverted top menu" id="main-header">
    <a id="logo" class="item" href="/main" >LabProject</a>
    <div class="right menu">
        <div class="ui dropdown item">
            <i class="user icon"></i>
            <div class="menu">
                <a class="item">Profile</a>
                <a class="item">Sign Out</a>
            </div>
        </div>
    </div>
</header>