<link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
<link rel="stylesheet" type="text/css" href="static/css/app.css">
<script src="static/js/jquery.min.js"></script>
<script src="static/semantic/dist/semantic.min.js"></script>
