//- This is the main menu page. It uses main.js
<!DOCTYPE html>
<html>
<head>
    <title>Main - LabProject</title>
    include includes/includes.pug
</head>
<body>
    
    <main>
        <main-header></main-header>
        <div class="ui grid raised segment">
            <div class="four wide column">
                <div class="ui vertical fluid menu">
                    <a class="item">
                        <i class="plus icon"></i>New Lab
                    </a>
                    <a class="item" v-on:click="open_open_lab_modal">
                        <i class="archive icon"></i>Open Lab
                    </a>
                    <a class="item" href="/admin">
                        <i class="edit icon"></i>Settings
                    </a>
                </div>
            </div>
            <div class="twelve wide column"> 
                <div class="ui segments" id="messages" data-content="This shows the most recent messages addressed to you">
                    <div class="ui segment orange inverted">
                        <h2>Messages</h2>
                    </div>
                    <div class="ui loading secondary segment">
                        <message-list v-bind:messages="messages"></message-list>
                    </div>
                </div>
                <div class="ui segments" id="recent-labs"  data-content="This shows the most recent labs that you have used">
                    <div class="ui segment blue inverted">
                        <h2>Recent Labs</h2>
                    </div>
                    <div class="ui loading secondary segment">
                        <lab-list v-bind:labs="labs"></lab-list>
                    </div>
                </div>
            </div>
        </div>
        <open-lab-modal v-bind:is_open="open_lab_model_open" v-on:modal_close="close_open_lab_modal"></open-lab-modal>
    </main>

    <script src="static/js/main.js"></script>
</body>
</html>