//- This is the main menu page. It uses main.js
<!DOCTYPE html>
<html>
<head>
    <title>Main - LabProject</title>
    include includes/includes.pug
</head>
<body>
    
    <main>
        <main-header></main-header>
        
        <div class="ui grid raised segment">
            <div class="sixteen wide column">
                <div class="ui cards">
                    <a class="card" v-on:click="open_new_lab_modal">
                        <div class="content">
                            <div class="header">New Lab</div>
                            <div class="description">Create a new lab.</div>
                        </div>
                        <div class="ui bottom attached button">
                            <i class="add icon"></i> New Lab
                        </div>
                    </a>
                    <a class="card" v-on:click="open_open_lab_modal">
                        <div class="content">
                            <div class="header">Open Lab</div>
                            <div class="description">Open an existing lab.</div>
                        </div>
                        <div class="ui bottom attached button">
                            <i class="folder open icon"></i> Open Lab
                        </div>
                    </a>
                    <a class="card" href="/manage">
                        <div class="content">
                            <div class="header">Manage</div>
                            <div class="description">Manage virtual machines, users and labs.</div>
                        </div>
                        <div class="ui bottom attached button">
                            <i class="cogs icon"></i> Manage
                        </div>
                    </a>
                    <a class="ui card" href="/monitor">
                        <div class="content">
                            <div class="header">Monitor</div>
                            <div class="description">View server resources and load.</div>
                        </div>
                        <div class="ui bottom attached button">
                            <i class="chart line icon"></i> Monitor
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <open-lab-modal v-bind:is_open="open_lab_model_open" v-on:modal_close="close_open_lab_modal"></open-lab-modal>
        <new-lab-modal ref="new_lab_modal" labClient="lab_client"></new-lab-modal>
    </main>

    <script src="static/js/main.js"></script>
</body>
</html>