<!DOCTYPE html>
<html>
<head>
    <title>Manage - LabProject</title>
    include includes/includes.pug
</head>
<body>
    <main>
        <main-header></main-header>
        <div id="manage-view" class="ui grid raised segment">
            <div class="four wide column">
                <div class="ui vertical inverted fluid menu">
                    <a class="item" id="my-profile-button">
                        <i class="child icon"></i>My Profile
                    </a>
                    <a class="item">
                        <i class="user icon"></i>Users
                    </a>
                    <a class="item">
                        <i class="users icon"></i>Groups
                    </a>
                    <a class="item">
                        <i class="checkmark icon"></i>Permissions
                    </a>
                    <a class="item">
                        <i class="disk outline icon"></i>VM Management
                    </a>
                    <a class="item">
                        <i class="sticky note icon"></i>Lab Managment
                    </a>
                    <a class="item">
                        <i class="cubes icon"></i>Server Managment
                    </a>
                    <a class="item" id="about-button">
                        <i class="info icon"></i>About
                    </a>
                </div>
            </div>
            <div class="twelve wide column"> 

                <div v-if="active == 'profile'">
                     <profile-view :user-client="user_client" :active="active == 'profile'"></profile-view>
                </div>
                <div v-else-if="active == 'about'">
                    <about :active="active == 'about'"></about>
                </div>
                <div v-else>hi
                    
                </div>

                
                
            </div>
        </div>
    </main>
   
    <script src="static/js/manage.js"></script>
</body>
</html>